@use '../vars';

.races-container {
  width: 100vw;
  margin: auto;
  // font-family: Arial, Helvetica, sans-serif;

  .races-title {
    padding: 1em;
    text-align: center;
    font-size: 28px;
  }
}



@media screen and (max-width: 600px) {
  .races-frames {
    margin-top: 2vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    box-sizing: border-box;
  }
  .races-title {
    display: none;
  }
}

@media screen and (min-width: 900px) {

  .races-container {

    box-sizing: border-box;
    position: relative;

    .races-title {
      position: absolute;
      top: -10vh;
      left: 40%;
      z-index: 1;
      font-size: 40px;
    }
  }
  .races-frames {
    margin-top: 2vh;
    width: 100vw;
    height: 90vh;
    display: flex;
    gap: 1vw;
    margin-left:20vw ;
  }
}