@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');

$font-family: 'Glass Antiqua', cursive;
$background-selected-color: #355050;
$background-color: #0D1717;
$background-input: #000000;
$border-color: rgb(61, 61, 61);
$font-color: #FFF;
$title-color: rgb(154, 170, 173);