@use '../vars';

.body {
  @media (min-width: 900px) {
      display: none;
  }
}

.generator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
  position: relative;
  transform: translateY(30%);
}

.generator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.generator-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 25vh;
  padding: 3vh 3vw;
  font-size: 16px;
  white-space: pre-wrap;
  
  .hover {
    background-color: green;
    color: white;
  }
}

.explanation-text {
  margin-top: 10px;
  text-align: center;
}

.selected {
  background-color: green;
  color: white;
}

.button-link {
  text-decoration: none;
}

@media (max-width: 1370px) {
  .generator {
    flex-direction: column;
    transform: translateY(25%);
    justify-content: space-around;
  }

  .generator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
  }
}

@media (max-width: 900px) {

  .generator-button {
    width : 60vw
  }
}